PORT=5000
NODE_ENV=development
MONGO_URI=
JWT_SECRET=
SALTROUND=10
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
MAILER_HOST=smtp.gmail.com
MAILER_PORT=587
SERVICE=Gmail
SECURE=false
EMAIL_USER=
EMAIL_PASS=
JWT_ACCESS_SECRET=
JWT_REFERSH_TOKEN=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SESSION_SECRET=
MAX_REFRESH_TOKENS=5
STATE_SECRET=
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
RAZORPAY_KEY_ID=
RAZORPAY_SECRET_KEY=
GEMINI_API_KEY=
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:5000
